<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <block include="fragments/common/head"></block>
    <block include="fragments/common/script"></block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">

                <h3>Upload Multiple Files to MySQL</h3>
                <form enctype="multipart/form-data" id="fileUploadForm" action="/uploadFile" method="POST">
                    <div class="form-group">
                        <label class="control-label" for="files">Upload Multiple Files:</label>
                        <input class="form-control" id="files" multiple
                               name="files" placeholder="Upload Multiple Files" type="file"></input>
                    </div>
                    <button class="btn btn-default" id="btnSubmit" type="submit">Upload</button>
                    <a class="btn btn-default" href="/files" role="button">Files</a>
                </form>
                <div th:if="${message}">
                    <strong><span th:text="${message}"/></strong>
                    <hr>
                </div>
                <ul th:each="filename: ${files}">
                    <li><span th:text="${filename}"/></li>
                </ul>

            </div>
        </section>
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

</div>
<!-- ./wrapper -->
</body>
</html>